.simple-slider .swiper-slide {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../../assets/img/facts.png");
  height: 800px;
}

.simple-slider .swiper-button-next, .simple-slider .swiper-button-prev {
  width: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#fact1 {
  background-image: url("facts (3).png");
}

#fact2 {
  background-image: url("facts (2).png");
}

#fact3 {
  background-image: url("../../assets/img/facts.png");
}

